/* style dasar */
:root {
    /* color */
    --background-color: #DBD9CD;
    --font-color: #252522;

    /* font */
    --font-dasar: OpenSans-Regular, arial, sans-serif;
    --title-font: OpenSans-ExtraBold, arial, sans-serif;
}

/* font internal */
@font-face {
    font-family: OpenSans-Regular;
    src: url(font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(font/OpenSans-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-dasar);
    color: var(--font-color);
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

#title {
    font-size: 2.5rem;
    font-family: var(--title-font);
}

#sub-title {
    padding: 10px 0;
    text-align: center;
}

/* main */
#main {
    background: var(--background-color);
    max-width: 100%;
    margin: auto;
    padding: 20px 15px;
}

/* header */
#header {
    text-align: center;
}

#img-div {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
}

#image {
    border-radius: 10px;
}

#img-caption {
    padding: 5px 0;
    line-height: 1.3;
}

/* tribute info */
#tribute-info {
    line-height: 1.5;
}

#tribute-info #sub-title {
    padding: 40px 0;
}

#bio {
    margin-bottom: 10px;
}

/* list card film */
#list-card-film {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

#card {
    width: 190px;
    margin: 10px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px rgba(0,0,0, 0.1);
}

#card a {
    text-decoration: none;
    color: var(--font-color);
}

#card:hover {
    opacity: 0.5;
}

#card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#card p {
    padding: 20px 10px;
}

/* responsive breakpoint */
@media screen and (min-width: 460px) {
    body {
        padding: 20px 10px;
    }
}

@media screen and (min-width: 1024px) {
    .wrap {
        max-width: 1000px;
        margin: auto;
    }
}